---
layout: page
title: Oslo Events Calendar
permalink: /calendar/
---

<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
              ATATON
            </a>
          </div>

          <div class="header-buttons">
            <div><a href="{{ site.baseurl }}/blog">BLOGG</a></div>
            <div class="hide-on-mobile"><a href="{{ site.baseurl }}/#contact">KONTAKT</a></div>
            <div><a href="{{ site.baseurl }}/en">ENGLISH</a></div>
          </div>
            
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<div class="events_calendar">
  {% for c in site.data.calendar %}
    <div class="event">
    
      <div class="event_date">
        <span>{{ c.date }}</span>
        <span> @ </span>
        <span>{{ c.time_start}}</span>
        <span> - </span>
        {% if c.date_end %}
          <span>{{ c.date_end }}</span>
        {% endif %}
        <span> {{ c.time_end }}</span>
      </div>
      <a href="{{ c.link }}" target="_blank">
        <div class="event_title">{{ c.name }}</div>
      </a>
      
      <div class="event_host">
        <div class="gray_50">Host:</div>
        <div>{{ c.host }}</div>
      </div>

      <div class="event_host">
        <div class="gray_50">Location:</div>
        <div>{{ c.location }} - {{ c.address }}</div>
      </div>

      <!-- <div class="event_location"><span class="gray_50">Location:</span> {{ c.location }} - {{ c.address }}</div> -->

      {% if c.description %}
        <div class="event_description">{{ c.description }}</div>
      {% endif %}

      <!-- <div class="event_location">{{ c.location }} // {{ c.address }}</div> -->
    
    </div>
  {% endfor %}
</div>

