---
layout: page
title: ATATON
permalink: /en/
---

<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
              ATATON
            </a>
          </div>

          <div class="header-buttons">
            <div><a href="{{ site.baseurl }}/blog">BLOG</a></div>
            <div class="hide-on-mobile"><a href="{{ site.baseurl }}/#contact">CONTACT</a></div>
            <div><a href="{{ site.baseurl }}/">NO</a></div>
          </div>
            
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<!-- Slider Start -->
<!-- id="slider" -->
<!-- class="hubble-6" -->
<section
  id="slider"
  style="background-color: #c95770;"
  >
  <div class="container">
    <div class="row">
      <div
        class="col-md-10"
        style="margin: auto; float: none; max-width: 800px;"
        >
        <div class="block">
          <h1 >YOUR DOOR TOWARDS THE SCANDINAVIAN STARTUP SCENE</h1>
          <p>With more than 10 years of experience from the Oslo startup scene, both from the investor and the startup side, we offer services as your fieldworker in the Scandinavian startup scene.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content Start -->
<!-- id="testimonial" -->
<section
  id="testimonial"
  style="color: #77c0b6"
  >
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>More companies than babies are born in Norway every year</h2>
        <!-- <p>blah blah blah</p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-8" style="margin: auto; float: none;">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          <ul class="counter-box clearfix">
          {% for ff in site.data.funfacts %}
            <li style="margin-right: auto;">
              <div class="block">
                <div class="counter-icon">
                  <img src="{{ ff.icon }}"/>
                </div>
                <h4 class="counter">{{ ff.counter }}</h4>
                <!-- <span>{{ ff.text }}</span> -->
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>

  </div>
</section>


<!-- Slider Start -->
<!-- id="slider" -->
<section
  id="slider-2"
  class="slider"
  style="background-color: #464c6a;"
  >
  <div class="container">
    <div class="row">
      <div
        class="col-md-10"
        style="margin: auto; float: none;"
        >
        <div class="block">
          <h1>Entrepeneurs are young, abitious and are here to change the world – a job they do with very limited resources.</h1>
          <p>You can learn a lot from these people, but how to navigate among all these companies?</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Service Start -->
<!-- id="service" -->
<section
  id="service"
  style="
      color: #d66c6e;
      background-color: white;
    "
  > 
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>We help you become part of the ecosystem of tomorrow</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <div class="service-icon" style="background-color: #d66c6e;">
            <img src="../img/ee_bulb.png"/>
          </div>
          <h4>Keep an eye on the most promising businesses</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <div class="service-icon" style="background-color: #d66c6e;">
            <img src="../img/ee_chip.png"/>
          </div>
          <h4>Keep track of cutting edge technologies</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <div class="service-icon" style="background-color: #d66c6e;">
            <img src="../img/ee_handshake.png"/>
          </div>
          <h4>Find potential customers or investment cases</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <div
            class="service-icon"
            style="background-color: #d66c6e;"
            >
            <img src="../img/ee_tag.png"/>
          </div>
          <h4>Brand yourself towards the Scandinavian startup scene</h4>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- id="feature" -->
<!-- class="hubble-7" -->
<section
  id="contact"
  style="color: white; background-color: #5b968b;"
  >
  <div class="container">
    <div class="less-talk-icon">
      <img
        style="
          max-width: 100%;
          max-height: 100%;
        "
        src="/img/pin.png"
      />
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>LET'S HAVE A CHAT</h2>
        <p>
          We're spotting new trends and find companies you should look out for, companies you should collaborate with and businesses you should invest in. We deliver monthly flash reports as our standard service, and can facilitate potential collaborations.
        </p>
        <p>
          We don't have our office as we're always out among the startups to stay updated.
        </p>
        <p>
          Talk to us, so that we can have a talk about what we can for you.
        </p>

        <p>
          <ul class="address-block">
            <li>
              <i class="fa fa-envelope-o"></i><a href="mailto:jorgen@ataton.no">jorgen@ataton.no</a>
            </li>
            <li>
              <i class="fa fa-phone"></i>+47 93 93 10 34
            </li>
          </ul>          
        </p>

        <!-- <a href="/contact" class="btn btn-view-works" style="margin-top: 40px;">Ta kontakt</a> -->
      </div>
    </div>
  </div>
</section>







