---
layout: page
title: Airspace
permalink: /
---

<!-- Slider Start -->
<!-- id="slider" -->
<section
  id="slider"
  class="hubble-6"
  >
  <div class="container">
    <div class="row">
      <div
        class="col-md-10"
        style="margin: auto; float: none; max-width: 800px;"
        >
        <div class="block">
          <h1 >DIN DØR MOT STARTUP-UNIVERSET</h1>
          <p>Med 10 års erfaring i startup-scenen, både fra investor- og startup-siden, tilbyr vi tjenester som din feltarbeider i det globale innovasjonsmiljøet.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content Start -->
<!-- id="testimonial" -->
<section
  id="testimonial"
  style="color: #77c0b6"
  >
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>I Norge fødes det flere bedrifter enn barn hvert år</h2>
        <!-- <p>blah blah blah</p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-8" style="margin: auto; float: none;">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          <ul class="counter-box clearfix">
          {% for ff in site.data.funfacts %}
            <li style="margin-right: auto;">
              <div class="block">
                <div class="counter-icon">
                  <img src="{{ ff.icon }}"/>
                </div>
                <h4 class="counter">{{ ff.counter }}</h4>
                <!-- <span>{{ ff.text }}</span> -->
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>

  </div>
</section>


<!-- Slider Start -->
<!-- id="slider" -->
<section
  id="slider-2"
  class="slider"
  style="background-color: #0f0c27;"
  >
  <div class="container">
    <div class="row">
      <div
        class="col-md-10"
        style="margin: auto; float: none;"
        >
        <div class="block">
          <h1>Gründerne er unge, ambisiøse og er her for å endre verden – en jobb de gjør med svært få ressurser.</h1>
          <p>Man kan lære mye av gründerne, men hvordan skal man navigere blant alle disse bedriftene? </p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Service Start -->
<!-- id="service" -->
<section
  id="service"
  style="
      color: #d66c6e;
      background-color: white;
    "
  > 
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Vi hjelper deg med å bli en del av morgendagens økosystem</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <div class="service-icon" style="background-color: #d66c6e;">
            <img src="/img/ee_bulb.png"/>
          </div>
          <h4>Hold et øye med de beste talentene</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <div class="service-icon" style="background-color: #d66c6e;">
            <img src="img/ee_chip.png"/>
          </div>
          <h4>Følg med på teknologi i utvikling</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <div class="service-icon" style="background-color: #d66c6e;">
            <img src="img/ee_handshake.png"/>
          </div>
          <h4>Finn nye potensielle kunder</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <div
            class="service-icon"
            style="background-color: #d66c6e;"
            >
            <img src="img/ee_tag.png"/>
          </div>
          <h4>Bygg merkevare som en innovativ bedrift</h4>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- id="feature" -->
<section
  id="contact"
  class="hubble-7"
  style="color: white;"
  >
  <div class="container">
    <div class="less-talk-icon">
      <img
        style="
          max-width: 100%;
          max-height: 100%;
        "
        src="/img/pin.png"
      />
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>LA OSS TA EN PRAT</h2>
        <p>
          Vi spotter nye trender og finner bedrifter du bør se opp for, bedrifter du bør samarbeide med og bedrifter du bør investere i over hele verden. Vi leverer månedlige flash-rapporter, tilrettelegger for workshops og finner gode samarbeidspartnere.
        </p>
        <p>
          Vi har ikke egne kontorer fordi vi alltid er ute i startup-miljøene for å holde oss oppdaterte.
        </p>

        <p>
          <ul class="address-block">
            <li>
              <i class="fa fa-envelope-o"></i><a href="mailto:jorgen@ataton.io">jorgen@ataton.io</a>
            </li>
            <li>
              <i class="fa fa-phone"></i>+47 93 93 10 34
            </li>
          </ul>          
        </p>

        <!-- <a href="/contact" class="btn btn-view-works" style="margin-top: 40px;">Ta kontakt</a> -->
      </div>
    </div>
  </div>
</section>







