---
layout: page
title: Airspace
permalink: /
---

<!-- Slider Start -->
<section
  id="slider"
  class="hubble-6"
  >
  <div class="container">
    <div class="row">
      <div
        class="col-md-10"
        style="margin: auto; float: none; max-width: 800px;"
        >
        <div class="block">
          <h1 >DIN DØR MOT STARTUP-UNIVERSET</h1>
          <p>Etter 10 års erfaring i startup-scenen, både fra investor- og startup-siden, tilbyr vi tjenester som din feltarbeider i det globale innovasjonsmiljøet.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content Start -->
<section
  id="testimonial"
  style="color: #77c0b6"
  >
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>I Norge fødes det flere bedrifter enn barn hvert år</h2>
        <!-- <p>blah blah blah</p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-8" style="margin: auto; float: none;">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li style="margin-right: auto;">
              <div class="block">
                <div class="counter-icon">
                  <img src={{ ff.icon }}/>
                </div>
                <h4 class="counter">{{ ff.counter }}</h4>
                <!-- <span>{{ ff.text }}</span> -->
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>

  </div>
</section>


<!-- Slider Start -->
<section
  id="slider"
  style="background-color: #0f0c27;"
  >
  <div class="container">
    <div class="row">
      <div
        class="col-md-10"
        style="margin: auto; float: none;"
        >
        <div class="block">
          <h1>Gründerne er unge, ambisiøse og er her for å endre verden, og får jobben gjort med svært få ressurser.</h1>
          <p>Men hvordan skal man navigere blant alle disse bedriftene? </p>
        </div>
      </div>
    </div>
  </div>
</section>






<!-- Service Start -->
<section
  id="service"
  style="
    color: #d66c6e;
    background-color: white;
  "
  >    

  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Vi hjelper deg med å bli en del av morgendagens økosystem</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <div class="service-icon" style="background-color: #d66c6e;">
            <img src="/img/ee_bulb.png"/>
          </div>
          <h4>Hold et øye med de beste talentene</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <div class="service-icon" style="background-color: #d66c6e;">
            <img src="img/ee_chip.png"/>
          </div>
          <h4>Følg med på teknologi i utvikling</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <div class="service-icon" style="background-color: #d66c6e;">
            <img src="img/ee_handshake.png"/>
          </div>
          <h4>Finn nye potensielle kunder</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <div
            class="service-icon"
            style="background-color: #d66c6e;"
            >
            <img src="img/ee_tag.png"/>
          </div>
          <h4>Bygg merkevare som en innovativ bedrift</h4>
        </div>
      </div>
    </div>
  </div>
</section>



<section
  id="feature"
  class="hubble-7"
  style="color: white;"
  >
  <div class="container">
    <div style="
      position: absolute;
      top: 0;
      padding: 54px;
      left: 0;
      height: 100%;
    width: 50%;
    text-align: center;
    ">
      <img
        style="
          max-width: 100%;
          max-height: 100%;
        "
        src="/img/pin.png"
      />
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>LA OSS TA EN PRAT</h2>
        <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a href="#" class="btn btn-view-works" style="margin-top: 40px;">Ta kontakt</a>
      </div>
    </div>
  </div>
</section>




































<!-- Slider Start -->
 <!-- <section id="slider">
  <div class="container">
    <div class="row">
      <div
        class="col-md-10"
        style="margin: auto; float: none;"
        >
        <div class="block">
          <h1 >DIN DØR TIL STARTUP-VERDEN</h1>
          <p>Etter 10 års erfaring i startup-scenen, både fra investor- og startup-siden, tilbyr vi tjenester som din feltarbeider i innovasjonsmiljøene.</p>
        </div>
      </div>
    </div>
  </div>
</section> -->




<!-- Wrapper Start -->
<!-- <section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id </p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div>
    </div>
  </div>
</section> -->




<!-- Call to action Start -->
<!-- <section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Ta kontakt</h2>
          <p>Dersom innovasjon er viktig for din bedrift...</p>
            <a class="btn btn-default btn-call-to-action" href="#" >
            Tell Us Your Story
          </a>
        </div>
      </div>
    </div>
  </div>
</section> -->

