<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li>Chr. Krohgs gate 1, 0186 Oslo, Norway.</li>
            <!-- <li><a href="#">About Us</a></li> -->
            <!-- <li><a href="{{ site.baseurl }}/contact">Contact us</a></li> -->
            <!-- <li><a href="#">How it works</a></li> -->
            <!-- <li><a href="{{ site.baseurl }}/blog">BLOGG</a></li> -->
            <!-- <li><a href="{{ site.baseurl }}/contact">TA KONTAKT</a></li> -->
            <!-- <li><a href="#">Terms</a></li> -->
          </ul>
        </div>
        <p>ATATON</p>
      </div>
    </div>
  </div>
</footer>
