---
layout: page
---

<div class="blog-wrapper">
  <div class="post-area">
    <div class="post-thumb">
      <img src="{{ page.image }}" />
    </div>
    <div class="post-thumb-content">
      <div class="post-title">{{ page.title }}</div>
        <p class="post-date">
          <span>
            {{ page.date | date_to_long_string }}
          </span>
          <span> | </span>
          {% if page.email %}
            <a href="mailto:{{page.email}}">
              {{ page.author }}
            </a>
          {% else %}
            <span>{{ page.author }}</span>
          {% endif %}

          {% if page.twitter %}
          <span> | </span>
          <a href="https://twitter.com/{{page.twitter}}" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          {% endif %}
        </p>
      <p>
        {{ content }}
      </p>
    </div>

  </div>

  <p style="text-align: center;">
    <a href="{{ site.baseurl }}/blog">Back to blog</a>
  </p>  

</div>
